# Python and editor artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd
*.pdb
*.egg-info/
.eggs/
.env
venv/
.env/
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Application-specific
unnecessary
unnecesaary
